/* Clash Display Font */
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Extralight.otf") format("opentype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #0c0a09;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Clash Display", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
